MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/amelia
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
PYANNOTE_API_KEY=
ELEVENLABS_API_KEY=
VOYAGE_API_KEY=
RESEND_API_KEY=
EXPO_PUBLIC_API_URL=http://localhost:3000
PORT=3000
